.pop{
    width: inherit;
    table-layout:fixed;

    table{
        margin-left: 2%;
        width: 102%;
        td {
            //border: 1px #333 solid;
            border: none;
            width: 25%;
            i{
                color: #333;
            }
        }
    }
    
}
.weatherBox {

    position: relative;
    top: 60px;
    width: 100%;
    background-size: cover;
    border-radius: 0.5em;
    display: flex;
    padding: 30px;

    #weather-content{
        color: white;
    }
  
}

.weatherBox:after {
    content: "";  // :before and :after both require content
    position: absolute;
    border-radius: 0.5em;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(120deg,#e76395,#33d0ff);
    background-color: #333;
    opacity: .5;
}

.weatherBox > * {
    z-index: 100;
}

.week-card{
    // .card-header{
    //     background-color: #cec7e0;
    //     color: #333;
    //     height: 15px;
    // }
    max-width: 18rem;
    background: rgba(238, 238, 238, 0.372);
}

.rain-table{
    margin-bottom: 50vh;
    background: rgba(238, 238, 238, 0.372);
}

.title{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
}

.wx-img{
    width: 10px;
    height: 10px;
}